<?php

$title = 'Agregar programa';
$this->headTitle($title);
?>
<div class="alert alert-success">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
</div>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('programa', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('csrf'));
echo $this->formHidden($form->get('id'));
?>

	<div class="control-group">
		<label class="control-label" for="nombres">Nombre</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('nombre')); ?>
			<?php echo $this->formElementErrors($form->get('nombre'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Descripcion</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('descripcion')); ?>
			<?php echo $this->formElementErrors($form->get('descripcion'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Facultad</label>
		<div class="controls">
			<?php echo $this->formSelect($form->get('facultades_id')); ?>	
			<?php echo $this->formElementErrors($form->get('facultades_id'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
		<?php echo $this->formSubmit($form->get('submit')); ?>
		</div>
	</div>
<?php 
echo $this->form()->closeTag();
?>
