<?php
// module/Registro/view/registro/programa/index.phtml:

$title = 'Programas';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('programa', array('action'=>'add'));?>">Agregar programa</a>
</p>

<table class="table">
<tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($programas as $programa) : ?>
<tr>
    <td><?php echo $this->escapeHtml($programa->nombre);?></td>
    <td><?php echo $this->escapeHtml($programa->descripcion);?></td>
    <td>
        <a href="<?php echo $this->url('programa',
            array('action'=>'edit', 'id' => $programa->id));?>">Editar</a>
        <a href="<?php echo $this->url('programa',
            array('action'=>'delete', 'id' => $programa->id));?>">Borrar</a>
    </td>
</tr>
<?php endforeach; ?>
</table>