<?php

$title = 'Agregar Empresa';
$this->headTitle($title);
?>
<div class="alert alert-success">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
</div>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('empresa', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('csrf'));
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('ciudades_id'));
?>

	<div class="control-group">
		<label class="control-label" for="nombres">Nit</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('nit')); ?>
			<?php echo $this->formElementErrors($form->get('nit'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Razón Social</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('razon_social')); ?>
			<?php echo $this->formElementErrors($form->get('razon_social'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Contacto</label>
		<div class="controls">
			<?php echo $this->formSelect($form->get('contacto_id')); ?>	
			<?php echo $this->formElementErrors($form->get('contacto_id'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Razón Comercial</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('razon_comercial')); ?>
			<?php echo $this->formElementErrors($form->get('razon_comercial'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Dirección</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('direccion')); ?>
			<?php echo $this->formElementErrors($form->get('direccion'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Teléfono</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('telefono')); ?>
			<?php echo $this->formElementErrors($form->get('telefono'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
		<?php echo $this->formSubmit($form->get('submit')); ?>
		</div>
	</div>
<?php 
echo $this->form()->closeTag();
?>
