<?php
// module/Registro/view/registro/empresa/index.phtml:

$title = 'Empresa';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('empresa', array('action'=>'add'));?>">Agregar empresa</a>
</p>

<table class="table">
<tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($empresas as $empresa) : ?>
<tr>
    <td><?php echo $this->escapeHtml($empresa->nit);?></td>
    <td><?php echo $this->escapeHtml($empresa->razon_social);?></td>
    <td>
        <a href="<?php echo $this->url('empresa',
            array('action'=>'edit', 'id' => $empresa->id));?>">Editar</a>
        <a href="<?php echo $this->url('empresa',
            array('action'=>'delete', 'id' => $empresa->id));?>">Borrar</a>
    </td>
</tr>
<?php endforeach; ?>
</table>