<?php
// module/Registro/view/registro/facultad/index.phtml:

$title = 'Facultades';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('facultad', array('action'=>'add'));?>">Agregar facultad</a>
</p>

<table class="table">
<tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($facultads as $facultad) : ?>
<tr>
    <td><?php echo $this->escapeHtml($facultad->nombre);?></td>
    <td><?php echo $this->escapeHtml($facultad->descripcion);?></td>
    <td>
        <a href="<?php echo $this->url('facultad',
            array('action'=>'edit', 'id' => $facultad->id));?>">Editar</a>
        <a href="<?php echo $this->url('facultad',
            array('action'=>'delete', 'id' => $facultad->id));?>">Borrar</a>
    </td>
</tr>
<?php endforeach; ?>
</table>