<?php

$title = 'Agregar usuario';
$this->headTitle($title);
?>
<div class="alert alert-success">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
</div>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('usuario', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('csrf'));
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('ciudades_id'));
?>

	<div class="control-group">
		<label class="control-label" for="nombres">Usuario</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('username')); ?>
			<?php echo $this->formElementErrors($form->get('username'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="nombres">Nombres</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('nombres')); ?>
			<?php echo $this->formElementErrors($form->get('nombres'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Apellidos</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('apellidos')); ?>
			<?php echo $this->formElementErrors($form->get('apellidos'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="email">Correo</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('email')); ?>
			<?php echo $this->formElementErrors($form->get('email'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Telefono</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('telefono')); ?>
			<?php echo $this->formElementErrors($form->get('telefono'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Celular</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('celular')); ?>
			<?php echo $this->formElementErrors($form->get('celular'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Programa</label>
		<div class="controls">
			<?php echo $this->formSelect($form->get('programas_id')); ?>
			<?php echo $this->formElementErrors($form->get('programas_id'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Promoción</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('promocion')); ?>
			<?php echo $this->formElementErrors($form->get('promocion'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
		<?php echo $this->formSubmit($form->get('submit')); ?>
		</div>
	</div>
<?php 
echo $this->form()->closeTag();
?>
