<?php
// module/Registro/view/registro/usuario/index.phtml:

$title = 'Usuarios';
$this->headTitle($title);
?>
<div class="alert alert-success">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
</div>
<p>
    <a href="<?php echo $this->url('usuario', array('action'=>'add'));?>">Agregar usuario</a>
</p>

<table class="table">
<tr>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>eMail</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($usuarios as $usuario) : ?>
<tr>
    <td><?php echo $this->escapeHtml($usuario->nombres);?></td>
    <td><?php echo $this->escapeHtml($usuario->apellidos);?></td>
    <td><?php echo $this->escapeHtml($usuario->email);?></td>
    <td>
        <a href="<?php echo $this->url('usuario',
            array('action'=>'edit', 'id' => $usuario->id));?>">Editar</a>
        <a href="<?php echo $this->url('usuario',
            array('action'=>'delete', 'id' => $usuario->id));?>">Borrar</a>
    </td>
</tr>
<?php endforeach; ?>
</table>