<?php

$title = 'Agregar Oferta';
$this->headTitle($title);
?>
<div class="alert alert-success">
	<h1><?php echo $this->escapeHtml($title); ?></h1>
</div>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('oferta', array('action' => 'add')));
$form->prepare();

echo $this->form()->openTag($form);
echo $this->formHidden($form->get('csrf'));
echo $this->formHidden($form->get('id'));
echo $this->formHidden($form->get('fecha'));
?>

	<div class="control-group">
		<label class="control-label" for="apellidos">Responsable</label>
		<div class="controls">
			<?php echo $this->formSelect($form->get('responsable_id')); ?>	
			<?php echo $this->formElementErrors($form->get('responsable_id'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Empresa</label>
		<div class="controls">
			<?php echo $this->formSelect($form->get('empresas_id')); ?>	
			<?php echo $this->formElementErrors($form->get('empresas_id'), array("class" => "error")); ?>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="nombres">Cargo</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('cargo')); ?>
			<?php echo $this->formElementErrors($form->get('cargo'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Salario</label>
		<div class="controls">
			<?php echo $this->formInput($form->get('salario')); ?>
			<?php echo $this->formElementErrors($form->get('salario'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="apellidos">Profesión objetivo</label>
		<div class="controls">
			<?php echo $this->formSelect($form->get('profesion_id')); ?>	
			<?php echo $this->formElementErrors($form->get('profesion_id'), array("class" => "error")); ?>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
		<?php echo $this->formSubmit($form->get('submit')); ?>
		</div>
	</div>
<?php 
echo $this->form()->closeTag();
?>
