<?php
// module/Registro/view/registro/oferta/index.phtml:

$title = 'Oferta';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
    <a href="<?php echo $this->url('oferta', array('action'=>'add'));?>">Agregar oferta</a>
</p>

<table class="table">
<tr>
    <th>Cargo</th>
    <th>Salario</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($ofertas as $oferta) : ?>
<tr>
    <td><?php echo $this->escapeHtml($oferta->cargo);?></td>
    <td><?php echo $this->escapeHtml($oferta->salario);?></td>
    <td>
        <a href="<?php echo $this->url('oferta',
            array('action'=>'edit', 'id' => $oferta->id));?>">Editar</a>
        <a href="<?php echo $this->url('oferta',
            array('action'=>'delete', 'id' => $oferta->id));?>">Borrar</a>
    </td>
</tr>
<?php endforeach; ?>
</table>