<div class="hero-unit">
    <h1><?php echo sprintf($this->translate('Bienvenido a %sEgresados UT%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('Aplicación diseñada para integrar y brindar herramientas a todos los egresados de la %sUniversidad del Tolima%s. Una aplicación segura, de alto rendimiento y construida con las mejores practicas'), '<a href="https://www.ut.edu.co" target="_blank">', '</a>', \Zend\Version\Version::VERSION) ?></p>
    <p><a class="btn btn-success btn-large" href="<?php echo $this->url('usuario'); ?>" target="_blank"><?php echo $this->translate('Agregar egresado') ?> &raquo;</a></p>
</div>

<div class="row">

    <div class="span4">
        <h2><?php echo $this->translate('Mas que una aplicación') ?></h2>
        <p><?php echo sprintf($this->translate('Esta aplicación pretende convertirse en una herramienta online para toda la comunidad de Egresados de la UT. Es por esto que hemos puesto a tu disposición el %scódigo%s de nuestra aplicación, así como tambien creamos esta %swiki%s para nuestra naciente comunidad, de igual modo, si encuentras un %serror%s, no dudes en reportarlo.'), '<a href="https://bitbucket.org/jorelc/egresados/src">', '</a>', '<a href="https://bitbucket.org/jorelc/egresados/wiki/Home">', '</a>', '<a href="https://bitbucket.org/jorelc/egresados/issues?status=new&status=open">', '</a>') ?></p>
        <p><a class="btn btn-success" href="https://bitbucket.org/jorelc/egresados/overview" target="_blank"><?php echo $this->translate('Nuestra App') ?> &raquo;</a></p>
    </div>

    <div class="span4">
        <h2><?php echo $this->translate('Ofertas Laborales') ?></h2>
        <p><?php echo sprintf($this->translate('Con tu ayuda construiremos una gran comunidad para nuestros egresados!. Conoces una oferta laborar que pueda interesar a alguno de nuestros egresados? agregala ahora'), '<a href="https://github.com/zendframework/modules.zendframework.com">', '</a>') ?></p>
        <p><a class="btn btn-success" href="<?php echo $this->url('oferta'); ?>" target="_blank"><?php echo $this->translate('Agregar Oferta') ?> &raquo;</a></p>
   </div>

   <div class="span4">
       <h2><?php echo $this->translate('Empresas') ?></h2>
       <p><?php echo sprintf($this->translate('Agrega las empresas que puedan aportar a nuestra comunidad. Ofertas laborales, capacitaciones, etc.'), '<a href="irc://irc.freenode.net/zftalk">', '</a>', '<a href="http://framework.zend.com/wiki/display/ZFDEV/Mailing+Lists">', '</a>') ?></p>
       <p><a class="btn btn-success" href="<?php echo $this->url('empresa'); ?>" target="_blank"><?php echo $this->translate('Agregar Empresa') ?> &raquo;</a></p>
   </div>
</div>
